
# uncomment this only if you plan to use it
#TWITTER_CONSUMER_KEY        = ''
#TWITTER_CONSUMER_SECRET     = ''
#TWITTER_REQUEST_TOKEN_URL   = ''
#TWITTER_ACCESS_TOKEN_URL    = ''
#TWITTER_AUTHORIZATION_URL   = ''


FACEBOOK_APP_ID          = ''
FACEBOOK_API_KEY         = ''
FACEBOOK_SECRET_KEY      = ''
FACEBOOK_CANVAS_NAME     = ''

