<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}Welcome{% endblock %} &mdash; Run with Friends
    </title>
    <meta name="description" content="Track and share your runs with friends.">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}awesome-buttons.css">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}main.css">
  </head>
  <body>

    <script src="{{STATIC_URL}}main.js"></script>
    <div id="fb-root"></div>
    <script>
      {# async loading of facebook js sdk - according to doc, it is best to put it right after body tag#}
      window.fbAsyncInit = function() { facebookInit({{ js_conf|safe }}) };
      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
     </script>

    <div id="doc">
      <div class="hd">
        {% if logged_in_user and not in_facebook %}
          <div id="user-info">
            <div class="info">
              <a class="name" href="/user/{{ logged_in_user.user_id }}">
                {{ logged_in_user.name }}
              </a>
              {# <a class="logout" onclick="FB.logout()">Logout</a> #}
              <a class="logout" href="{% url logout %}">Logout</a>
            </div>
            <img width="50" height="50" src="{{ logged_in_user.picture }}">
          </div>
        {% endif %}
        <a class="logo" href="/">Run with Friends</a>
      </div>

      {% if message %}
        <div class="message {{ message.type }}">{{ message.content|safe }}</div>
      {% endif %}

      <div class="bd">
        {% block body %}{% endblock %}
      </div><!-- .bd -->

      <div class="ft">
        This is an awesome running app.
        <span onclick="FB.api({ method: 'auth.revokeAuthorization' })">
          Click here to Revoke FB Authorization (dev only !!)
        </span>.
        <a class="rfloat" target="_new"
           href="http://github.com/facebook/runwithfriends">
          Source code available on Github.
        </a>
      </div>
    </div>

  </body>
</html>
